body {
background-color: #FFFFC2;
}
h1 {
background-color:#D2B48C;
opacity: 0.6;
color:#6AA121;
font-family: "verdana", "Georgia", sans-serif;
font-size:3em;
text-align: center;
}
h4 {
  float: center; 
  text-align: center;
  border-style: ridge;
  border-color: #556B2F;
  background-color: #F0FFF0;
  color:#347235;
  width: 400px;
  height; 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}  
.p1 {
 font-family: "Arial Narrow", "Arial", "Arial Hebrew", sans-serif;
 font-size: 18px;
 color: #FFFFFF;
 background-color: #006400;
 width: 250px;
}
.div1 {
  float: left; 
  border-style: double;
  border-color: #254117;
  background-color: #ffffff;
  width: 300px;
  height: 230px;  
  padding: 50px;
  text-indent: 50px;
  font-family: "Arial Narrow", "Arial", "Arial Hebrew", sans-serif;
  text-align: justify;
}
.img1 {
  float: center;  padding-left: 50px;
}
.img2 {
  position: absolute;
  top: 160px;
  right: 120px;
}
.div2 {
  float: right;
  border-style: solid;
  border-color: #006400;
  border-width: 5px;
  background-color: #ffffff;
  width: 200px;
  height: 250px;
  padding: 15px;
  font-family: "Arial Narrow", "Arial", "Arial Hebrew", sans-serif;
  text-align: left;
}
.div3 {
  float: left; 
  border-style: double;
  border-color: #254117;
  background-color: #ffffff;
  width: 300px;
  height: 170px;  
  padding: 50px;
  text-indent: 50px;
  font-family: "Arial Narrow", "Arial", "Arial Hebrew", sans-serif;
  text-align: justify;
}
.div4 {
  border-style: solid;
  border-color: #006400;
  border-width: 5px;
  background-color: #ffffff;
  width: 300px;
  height: 400px;
  font-family: "Arial Narrow", "Arial", "Arial Hebrew", sans-serif;
  text-align: left;
  position: absolute;
  top: 160px;
  right: 100px;
}
.div5 {
  border-style: solid;
  border-color: #006400;
  border-width: 5px;
  background-color: #ffffff;
  width: 300px;
  height: 400px;
  font-family: "Arial Narrow", "Arial", "Arial Hebrew", sans-serif;
  text-align: left;
  position: absolute;
  top: 160px;
  right: 500px;
}
.link1 a {
color: ##165D21;
font-size: 10px;
text-decoration: underline;
}
.link1 a:visited {
color: #FFFFFF;
font-size: 10px;
}
.link1 a:hover {
color: #020803;
font-size: 10px;
text-decoration: underline;
}
.link2 a:link, a:visited {
  background-color: #0AAC1A;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link2 a:hover, a:active {
  background-color: #1F6826;
}
.bottomleft1 {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.bottomleft2 {
  position: absolute;
  bottom: -20px;
  left: 30px;
  font-size: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.bottomleft3 {
  position: absolute;
  bottom: -300px;
  left: 200px;
}
.bottomright1 {
position: absolute;
bottom: 30px;
  right: 200px;
}  
.bottomright2 {
position: absolute;
bottom: -250px;
  right: 200px;
}  
.bottomright3 {
position: absolute;
bottom: -150px;
  right: 650px;
}
.bottomright4 {
position: absolute;
bottom: -150px;
  right: 650px;
}
.topl
eft1 {
  position: absolute;
  top: 220px;
  right: 660px;
  }
.video1 {
 position: absolute;
  top: 500px;
  right: 50px;
}
.video2 {
  position: absolute;
  top: 500px;
  right: 400px;
}
