h1{
background-color:#D2B48C;
opacity: 0.6;
color:#6AA121;
font-family: verdana, Georgia, sans-serif;
font-size:3em;
}
p.fancy{
color:#666;
font-style: oblique;
}
.div1 {
  border-style: double;
  border-color: #254117;
  background-color: #ffffff;
  width: 300px;
  height: 250px;  
  padding: 50px;
  text-indent: 50px;
  font-family: Arial Narrow, Arial, Arial Hebrew, sans-serif;
}
